.custom-file-picker > label {
  width: 100%;
  background-color: #ffffff;
}

.drag-drop-component {
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #ccc;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voucher-tab {
  /* width: 180px; */
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #bfbfbf;
}

.voucher-tab.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.voucher-content-area {
  background-color: #ffffff;
  padding: 25px 15px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}
