.simple-select-box {
  height: 36px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  color: #000000;
}

.date-range-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 13px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.date-range-picker button {
  width: 100%;
}

.checkbox-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.custom-checkbox-dropdown-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 13px;
}

.checkbox-dropdown > label {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  justify-content: flex-start;
  padding: 5px 0px;
  font-size: 12px;
}

.checkbox-dropdown > label > input {
  /* all: unset; */
  /* /* height: 16px !important; */
  width: auto;
  margin-right: 10px;
}
